.mf-launch {
  height: 100vh;

  .mf-launch-header {
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }

  .mf-launch-layout {
    justify-content: center;
  }

  h2 {
    margin-top: -100px;
    text-align: center;
  }

  .mf-form {
    margin-top: 50px;
    text-align: center;
  }
}
