.mf-launch {
  height: 400px;
  font-family: "Comic Sans MS", Monaco, Microsoft YaHei, PingFang SC, STHeiti, SimHei, sans-serif;

  .ant-form-item label {
    font-weight: 700;
  }

  .mf-launch-layout {
    justify-content: center;
  }

  h2 {
    text-align: center;
    color: rgb(70, 70, 70);
    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      vertical-align: bottom;
    }
  }

  .mf-form {
    margin-top: 50px;
    text-align: center;
    .mf-form-save {
      margin-top: 10px;
    }
    .ant-form-explain {
      text-align: left;
    }
  }
}

.ant-modal-body {
  font-family: "Comic Sans MS", Monaco, Microsoft YaHei, PingFang SC, STHeiti, SimHei, sans-serif;
}
