/** home console */
.mf-home {
  height: 100vh;

  .ant-layout-footer {
    height: 60px;
  }

  .ant-layout-sider {
    padding-top: 5px;
    background: rgb(39, 39, 39);
    -webkit-user-select: none; 
    .ant-tree li .ant-tree-node-content-wrapper {
      padding: 0 8px 0 5px;
      color: #fff;
    }
    .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background: #444;
      color: rgb(226, 192, 141);
    }
    .ant-tree li .ant-tree-node-content-wrapper:hover {
      background: #444;
    }
    .ant-tree li span.ant-tree-iconEle {
      margin-right: 5px;
    }
  }

  // as ide theme color
  .ant-layout-content {
    padding-top: 10px;
    background: #263238;
    color: #fff;
  }

  .mf-info {
    padding: 10px 0;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    button {
      margin-left: 10px;
      font-size: 12px;
    }
  }

  .mf-filelist {
    position: relative;
    min-height: 400px;
    text-align: left;
    .anticon-caret-down {
      color: #fff;
    }
  }

  .mf-footer {
    padding: 0;
    height: 40px;
    background: rgb(32, 32, 32);
  }
}
